<template>
    <div class="container">
        <div class="row justify-content-center">
            <table v-if="places" class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">Place Name</th>
                    <th scope="col">State</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Latitude</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="place in places">
                    <th scope="row">{{ place.name}}</th>
                    <td>{{ place.state}}</td>
                    <td>{{ place.longitude}}</td>
                    <td>@{{ place.latitude}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</template>

<script>
    export default {
        name: 'PlaceListComponent',

        props: ['places'],

        data() {
            return {
            }
        }
    }
</script>

<style scoped>
    .table {
        margin-top: 40px;
    }
</style>
