<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card form-container">
                    <form v-on:submit.prevent="submitForm()">
                        <div class="form-group">
                            <select v-model="selected"
                                    class="form-control">
                                <option v-for="country in JSON.parse(countries)"
                                        v-bind:value="country.abbr">
                                    {{country.name }}
                                </option>
                            </select>
                            <span class="alert-danger" v-if="validationErrors.abbr">{{ validationErrors.abbr[0] }}</span>
                        </div>
                        <div class="form-group">
                            <input class="form-control"
                                   name="zip_code"
                                   v-model="zipCode"
                                   placeholder="Please enter zip code">

                            <span class="alert-danger" v-if="validationErrors.zipCode">{{ validationErrors.zipCode[0] }}</span>
                        </div>
                        <span class="alert-danger" v-if="apiError">{{apiError }}</span>
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </form>
                </div>
                <place-list :places="places"></place-list>
            </div>
        </div>
    </div>
</template>

<script>
    import PlaceListComponent from './PlaceListComponent'
    export default {
        props: ['countries'],
        components: {
            'place-list': PlaceListComponent
        },
        data () {
            return {
                zipCode: '',
                selected: '',
                validationErrors: '',
                apiError: '',
                places: ''
            }
        },
        methods: {
            submitForm() {
                this.validationErrors = '';
                this.apiError = '';
                this.places = '';
                axios.post('/', {
                    zipCode: this.zipCode,
                    abbr: this.selected
                })
                    .then(response => this.places = response.data)
                    .catch(error => {
                        if(error.response.status === 422) {
                            this.validationErrors = error.response.data.errors;
                        } else if(error.response.status === 404) {
                            this.apiError = 'Places Not Found';
                        }
                    });
            }
        },
    }
</script>

<style scoped>
    .form-container {
        padding: 30px;
        margin-top: 40px;
    }
</style>
